<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SHELDON</title>
    <!-- Favicon -->
    <link href="{{ url_for('static', filename='assets/img/logo.png')}}" rel="icon" />
    <!-- Google Web Fonts -->
    <link rel="preconnect" href=https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='assets/lib/animate/animate.min.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet" />
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css')}}" rel="stylesheet" />
    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='assets/css/style.css')}}" rel="stylesheet" />
  </head>

  <body>
    <div class="container-xxl bg-white p-0">
      <!-- Spinner Start -->
      <div
        id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
      >
        <div
          class="spinner-grow text-primary"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Spinner End -->

      <!-- Navbar & Hero Start -->
      <div class="container-xxl position-relative p-0" id="home">
        <nav
          class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0"
        >
          <a href="" class="navbar-brand p-0">
            <img src="{{ url_for('static', filename='assets/img/logo.png')}}" alt="logo" />
          </a>
          <button
            class="navbar-toggler rounded-pill"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse"
            id="navbarCollapse"
            style="color: black !important"
          >
            <div class="navbar-nav mx-auto py-0">
              <a href="#home" class="nav-item nav-link active"></a>
              <a href="#about" class="nav-item nav-link"></a>
              <a href="#contact" class="nav-item nav-link"></a>
              <a href="sheldon-mall.html" class="nav-item nav-link"></a>
            </div>
            
            <a
              href="/predict"
              class="btn btn-primary rounded-pill py-2 px-4 ms-3 d-none d-lg-block"
              >Predict Credit Default</a
            >
          </div>
        </nav>

        <div class="container-xxl bg-primary hero-header">
          <div class="container">
            <div class="row g-5 align-items-center">
              <div class="col-lg-6 text-center text-lg-start">
                <h1 class="text-white mb-4 animated slideInDown">
                  Welcome to Sheldon AI
                </h1>
                <h5 class="text-white pb-3 animated slideInDown">
                  Predict the probability of credit default based on credit card owner's
                  characteristics and payment history using Ai.
                </h5>
                <a
                  href="/predict"
                  class="btn btn-primary py-sm-3 px-sm-5 rounded-pill mt-3"
                  >Let's Go</a
                >
              </div>
              <div class="col-lg-6 text-center text-lg-start">
                <img
                  class="img-fluid rounded animated zoomIn"
                  src="{{ url_for('static', filename='assets/img/credit2.gif')}}"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Navbar & Hero End -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

      <!-- Feature Start -->
      <div class="container-xxl py-6">
        <div class="container">
          <div class="row g-4">
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="feature-item bg-light rounded text-center p-5">
                <img
                  class="img-fluid rounded animated zoomIn"
                  src="{{ url_for('static', filename='assets/img/credit5.gif')}}"
                  alt=""
                />
                <h5 class="mb-3">High Accuracy</h5>
                <p class="m-0">
                  Our ML Model Produces High Accuracy for credit card default prediction of  about(85%)
                </p>
              </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
              <div class="feature-item bg-light rounded text-center p-5">
                <img
                class="img-fluid rounded animated zoomIn"
                src="{{ url_for('static', filename='assets/img/credit3.gif')}}"
                alt=""
              />
                <h5 class="mb-3">Get Instant Results</h5>
                <p class="m-0">
                  Get  Instant results for Your input within few seconds.
                </p>
              </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
              <div class="feature-item bg-light rounded text-center p-5">
                <img
                class="img-fluid rounded animated zoomIn"
                src="{{ url_for('static', filename='assets/img/credit4.gif')}}"
                alt=""
              />
                <h5 class="mb-3">Advanced ML Models</h5>
                <p class="m-0">
                  We Have Used Advanced ML Models such as Xgboost,Adaboost and also
                 carried out  machine learning tasks like Data Exploration, Data Cleaning,
Feature Engineering.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
   
      <div
        class="container-fluid text-body footer wow fadeIn"
        data-wow-delay="0.1s"
      >
        <h6 style="text-align: center">
         <a href="https://github.com/ragulslrk/Credit-Card-Default-Prediction.git">
         Get  Source Code
         </a>
        </h6>
      </div>
      <!-- Footer End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='assets/lib/wow/wow.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/lib/easing/easing.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/lib/waypoints/waypoints.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/lib/counterup/counterup.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/lib/owlcarousel/owl.carousel.min.js')}}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>
  </body>
</html>
